[project]
	description = Landing page for RedTimer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gekart
[access "refs/for/refs/*"]
	read = group user/gekart
	push = group user/gekart
	label-Code-Review = -2..+2 group user/gekart
	label-Verified = -1..+1 group user/gekart
	rebase = group user/gekart
	removeReviewer = group user/gekart
	submit = group user/gekart
[access "refs/heads/*"]
	read = group user/gekart
	create = group user/gekart
	push = +force group user/gekart
	pushMerge = group user/gekart
[access "refs/tags/*"]
	push = +force group user/gekart
	pushTag = group user/gekart
	pushSignedTag = group user/gekart
