[project]
	description = Landing page for RedTimer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Grischa Ekart (gekart)
[access "refs/for/refs/*"]
	read = group user/Grischa Ekart (gekart)
	push = group user/Grischa Ekart (gekart)
	label-Code-Review = -2..+2 group user/Grischa Ekart (gekart)
	label-Verified = -1..+1 group user/Grischa Ekart (gekart)
	rebase = group user/Grischa Ekart (gekart)
	removeReviewer = group user/Grischa Ekart (gekart)
	submit = group user/Grischa Ekart (gekart)
[access "refs/heads/*"]
	read = group user/Grischa Ekart (gekart)
	create = group user/Grischa Ekart (gekart)
	push = +force group user/Grischa Ekart (gekart)
	pushMerge = group user/Grischa Ekart (gekart)
[access "refs/tags/*"]
	push = +force group user/Grischa Ekart (gekart)
	pushTag = group user/Grischa Ekart (gekart)
	pushSignedTag = group user/Grischa Ekart (gekart)
